/*  your css code here. If applicable */
body{
  margin:5%;
  background-color:#f5f5f5;
}
header{
  text-align:center;
  background-color:olive;
  padding: 1%;
}
.list{
  font-family:monospace;
  padding-top:6%;
}
li{
  font-family:cursive;
}